/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
scratch.md
*~undo-tree~
.env.*
.DS_Store

/coverage
file_cache/
/branding

# Ignore specific files
ansible/cron.conf

# Ignore entire directory
ansible/roles/nginx-badbot-blocker/

# Ignore
ansible/files/intermediate.crt
ansible/files/lib.wvu.edu.crt
ansible/files/lib.wvu.edu.csr
ansible/files/lib.wvu.edu.key
ansible/files/lib.wvu.edu.p7b
ansible/files/lib.wvu.edu.pfx
