// WVU Branding: https://scm.wvu.edu/brand/

// Primary Colors
$primary-color-blue: #002C5B;
$primary-color-gold: #F2B111;

// Secondary Colors
$secondary-color-star-city-blue: #9DDAE6;
$secondary-color-safety-blue-web-optimized: #0062A3;
$secondary-color-canary: #F7DD63;
$secondary-color-sunset: #F58672;
$secondary-color-woodburn: #8D4638;
$secondary-color-hemlock-web-optimized: #6A724F;
$secondary-color-wild-flour-web-optimized: #F2E6C2;
$secondary-color-buckskin-web-optimized: #B3A169;
$secondary-color-old-gold-web-optimized: #7F6310;

// Neutral Colors
$neutral-color-rattler-gray-web-optimized: #554741;
$neutral-color-not-quite-white-web-optimized: #F7F7F7;
$neutral-color-coopers-gray-web-optimized: #BEB7B3;
$neutral-color-seneca-gray-web-optimized: #988E8B;
$neutral-color-coal-web-optimized: #1C2B39;
