// Primary Colors
$primary-color-blue: #002C5B;
$primary-color-gold: #F2B111;

// Secondary Colors
$secondary-color-safety-blue: #0073BC;
$secondary-color-star-city-blue: #9DDAE6;
$secondary-color-safety-blue: #0062A3;
$secondary-color-canary: #F7DD63;
$secondary-color-sunset: #F58672;
$secondary-color-woodburn: #8D4638;
$secondary-color-hemlock: #6A724F;
$secondary-color-wild-flour: #F2E6C2;
$secondary-color-buckskin: #B3A169;
$secondary-color-old-gold: #7F6310;

// Neutral Colors
$neutral-color-rattler-gray: #554741;
$neutral-color-not-quite-white: #F7F7F7;
$neutral-color-coopers-gray: #BEB7B3;
$neutral-color-seneca-gray: #988E8B;
$neutral-color-coal: #1C2B39;
