body.wvu_home {

  /// --- Banner Image Masthead --- ///

  .image-masthead {
    min-height: 400px;

    .background-container.banner-image {
      background-position: center;
    }

    // search bar and marketing content layout
    > .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }

    // marketing text positioned dynamically over banner
    .site-title-container {
      margin: 1.5rem 0;
    }
  }

  /// --- Search Bar --- ///

  // search bar wrapper with blue background and rounded corners
  .search-bar-wrapper {
    background-color: $primary-color-blue;
    border-radius: 6px;
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    .form-group {
      margin-bottom: 0;
    }

    #search-field-header {
      border: 2px solid $neutral-color-coopers-gray;
      padding: 1rem;
      font-size: 1.25rem;
      border-radius: 4px 0 0 4px;
    }

    #search-submit-header {
      border-color: $neutral-color-coopers-gray !important;
    }

    #advanced-top-button {
      align-content: center;
    }

    .input-group-append {
      border: 2px solid $neutral-color-coopers-gray;
      border-radius: 0 4px 4px 0;
    }
  }

  /// --- Facets --- ///

  .card.facet-limit {
    margin-bottom: 0;
  }

  .homepage-text-container {
    border: 1px solid $primary-color-blue;
    margin: auto 0;
  }

  /// --- Featured Works Section --- ///

  // featured work card with thumbnail image and title
  .featured-fields,
  .featured-collections-fields {
    overflow: hidden;
    border: 1px solid #dce3e8;
    border-radius: 3px;
    margin-bottom: 2rem;
    min-width: 200px;
    max-width: 350px;

    // container for the work thumbnail image
    .featured-item-thumbnail,
    .featured-collections-item-thumbnail {
      height: 220px;

      // ensures image covers height and width of container
      img {
        width: 110%;
        height: 110%;
        margin: -5% 0 0 -5%;
        object-fit: cover;
        object-position: center;
      }
    }

    // container for the title
    .featured-item-title,
    .featured-collections-item-title {
      background-color: $neutral-color-not-quite-white;
      height: 5rem;
      padding: 1rem .75rem;

      a {
        text-decoration: none;
        color: $neutral-color-coal;

        h3 {
          font-size: 16px !important;
          font-weight: bold;
        }
      }

      // hover on title container changes background and link color
      &:hover {
        background-color: $neutral-color-coopers-gray;

        a {
          color: $neutral-color-not-quite-white;
        }
      }
    }
  }

  // container for the titles
  // .featured-item-title,
  // .collection-item-title,
  // .recent-doc-title {
  //   height: 5rem;
  //   padding: 1rem .75rem;

  //   a {
  //     text-decoration: none;
  //     color: $neutral-color-coal;

  //     h3 {
  //       font-size: 16px !important;
  //       font-weight: bold;
  //       margin: auto 0;
  //     }
  //   }
  // }

  //   .recent-works-container {
  //   .list-group {
  //     flex-direction: row;
  //   }
  // }


  .form-control,
  .btn,
  nav.breadcrumb,
  .alert {
    border-radius: 0;
  }

  /// --- Responsive Adjustments --- ///


  @media (max-width: 576px) {
    // drops the search bar buttons to a separate line on small screens
    // rounds the all corners of the search bar input field since only the left side is rounded in full width
    .search-bar-input-group {
      #search-field-header {
        border-radius: 4px;
        margin-bottom: 0.5rem;
      }

      // ensures the buttons have the full width of the container
      // rounds all corners of the button container since only the right side is rounded in full width
      .input-group-append {
        width: 100%;
        border-radius: 4px;

        // ensures the buttons take up the full width of the container
        .btn {
          flex: 1;
        }
      }
    }
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .mb-4 {
    margin-bottom: 40px;
  }

  .mt-6 {
    margin-top: 60px;
  }

  .mb-6 {
    margin-bottom: 60px;
  }

  .pt-30 {
    padding-top: 30px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .p-20 {
    padding: 20px;
  }

  .mt-reverse-mb {
    margin-top: 40px;
  }

  .mb-40-0 {
    margin-bottom: 40px;
  }

  a.cr_terms {
    color: #215480;
    font-size: 12px !important;
    font-weight: bold;

    &:hover {
      color: #333333;
    }

  }
}
