.wvu_home {

  ////// Homepage Text Block //////
  
  div.home_page_text.homepage-text-container {
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 200px;
    margin-top: -150px;
    overflow: hidden;
  }

  .fill-height-flex {
    display: flex;
    flex-direction: column;

    div {
      flex: 1;
    }
  }

  ////// Facets //////

  .card.facet-limit {
    margin-bottom: 0;
  }

  ///// Featured Works Section /////

  div#featured_works>div.featured-works-4-column-layout:nth-child(1n+5) {
    display: none !important;
  }

  .recent-works-container {
    .list-group {
      flex-direction: row;
    }
  }

  .featured-item img {
    width: 90px;
  }

  .featured-works-container,
  .recent-works-container,
  .collections-container {
    a {
      img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }
  }

  .form-control,
  .btn,
  nav.breadcrumb,
  .alert {
    border-radius: 0;
  }

  #search-field-header {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .mb-4 {
    margin-bottom: 40px;
  }

  .mt-6 {
    margin-top: 60px;
  }

  .mb-6 {
    margin-bottom: 60px;
  }

  .pt-30 {
    padding-top: 30px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .p-20 {
    padding: 20px;
  }

  .mt-reverse-mb {
    margin-top: 40px;
  }

  .mb-40-0 {
    margin-bottom: 40px;
  }

  .image-masthead {
    overflow: auto;
  }

  .image-masthead .background-container {
    -webkit-filter: none;
    filter: none;
  }

  .featured-item-title,
  .collection-item-title,
  .recent-doc-title {
    text-align: center;

  }

  .featured-item-title {
    color: #000 !important;
    font-size: 14px !important;
    text-decoration: none !important;
    cursor: default;
    pointer-events: none;
  }

  a.cr_terms {
    color: #215480;
    font-size: 12px !important;
    font-weight: bold;

    &:hover {
      color: #333333;
    }

  }
}
