.card {
  margin-bottom: 0;
}

.facet-limit {
  margin-bottom: 0;
}


.featured-item-title,
.collection-item-title,
.recent-doc-title {
  text-align: center;

  h3 {
    cursor: default;
    font-size: 14px !important;
    pointer-events: none;
    text-decoration: none;

    a {
      color: #000000;
    }
  }
}
