body.wvu_home {
  margin-bottom: 0;

  /// --- Container Layout (Homepage Only) --- ///

  // homepage full width layout
  &.is-homepage #content-wrapper {
    margin: 5rem 0;
    min-width: 100%;

    > .container {
      min-width: 100%;
      max-width: 1200px;
    }
  }

  /// --- Banner Image Masthead --- ///

  .image-masthead {
    min-height: 400px;

    .background-container.banner-image {
      background-position: center;
    }

    // search bar and marketing content layout
    > .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }

    // marketing text positioned dynamically over banner
    .site-title-container {
      margin: 1.5rem 0;
    }
  }

  /// --- Search Bar --- ///

  // search bar wrapper with blue background and rounded corners
  .search-bar-wrapper {
    background-color: $primary-color-blue;
    border-radius: 6px;
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    .form-group {
      margin-bottom: 0;
    }

    #search-field-header {
      border: 2px solid $neutral-color-coopers-gray;
      font-size: 1.25rem;
      border-radius: 4px 0 0 4px;
    }

    #search-submit-header {
      border-color: $neutral-color-coopers-gray !important;
    }

    // keep the text in the center of the button
    #advanced-top-button {
      align-content: center;
    }

    .input-group-append {
      border: 2px solid $neutral-color-coopers-gray;
      border-radius: 0 4px 4px 0;
    }
  }

  /// --- Facets --- ///

  .facets-container {
    padding: 2rem;
    margin-bottom: 3rem;
    max-width: 600px;

    .card.facet-limit {
      margin-bottom: 5px;
    }
  }

  /// --- Homepage Text Container --- ///

  .homepage-text-container {
    border: 1px solid $primary-color-blue;
    margin: auto 0;
  }

  /// --- Featured Works and Collections Sections --- ///

  .collections-container,
  .featured-works-container {
    min-width: 800px;
    max-width: 100%;
  }

  .recent-works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $neutral-color-coopers-gray;
    border-radius: 3px;
    margin: 2rem;
    padding: 2rem;

    .recent-doc-fields {
      overflow: hidden;
      margin-bottom: 1rem;
      min-width: 150px;
      max-width: 250px;

      // container for the work thumbnail image
      .recent-doc-thumbnail {
        height: 120px;

        // ensures image covers height and width of container
        img {
          width: 110%;
          height: 110%;
          margin: -5%;
          object-fit: cover;
          object-position: center;
        }
      }
      .recent-doc-title {
        height: 5rem;
        padding: 0.75rem 0;

        a {
          text-decoration: none;
          color: $neutral-color-coal;

          h3 {
            font-size: 14px !important;
          }
        }

        // hover on title container changes background and link color
        a:hover {
          color: $primary-color-blue;
        }
      }
    }
  }

  // featured work card with thumbnail image and title
  .featured-fields,
  .featured-collections-fields {
    overflow: hidden;
    border: 1px solid #dce3e8;
    border-radius: 3px;
    margin-bottom: 2rem;
    min-width: 200px;
    max-width: 350px;

    // container for the work thumbnail image
    .featured-item-thumbnail,
    .featured-collections-item-thumbnail {
      height: 220px;

      // ensures image covers height and width of container
      img {
        width: 110%;
        height: 110%;
        margin: -5% 0 0 -5%;
        object-fit: cover;
        object-position: center;
      }
    }

    // container for the title
    .featured-item-title,
    .featured-collections-item-title {
      background-color: $neutral-color-not-quite-white;
      height: 5rem;
      padding: 1rem 0.75rem;

      a {
        text-decoration: none;
        color: $neutral-color-coal;

        h3 {
          font-size: 16px !important;
          font-weight: bold;
        }
      }

      // hover on title container changes background and link color
      &:hover {
        background-color: $neutral-color-coopers-gray;

        a {
          color: $neutral-color-not-quite-white;
        }
      }
    }
  }

  .form-control,
  .btn,
  nav.breadcrumb,
  .alert {
    border-radius: 0;
  }

  /// --- Responsive Adjustments --- ///

  @media (max-width: 576px) {
    // drops the search bar buttons to a separate line on small screens
    // rounds the all corners of the search bar input field since only the left side is rounded in full width
    .search-bar-input-group {
      #search-field-header {
        border-radius: 4px;
        margin-bottom: 0.5rem;
      }

      // ensures the buttons have the full width of the container
      // rounds all corners of the button container since only the right side is rounded in full width
      .input-group-append {
        width: 100%;
        border-radius: 4px;

        // ensures the buttons take up the full width of the container
        .btn {
          flex: 1;
        }
      }
    }
  }
}
