<%# container for facets menu %>
<%# override to remove hamburger toggle button %>

<% if has_facet_values? %>
<div id="facets" class="cultural-repository facets sidenav">
  <div class="top-card-heading text-center">
    <%# remove facets-toggle button %>
    <h2 class="facets-heading">
      Browse Items
    </h2>
  </div>
  <div id="facet-panel-collapse" class="collapse">
    <%= render_facet_partials %>
  </div>
</div>
<% end %>
