<%# container for facets menu %>
<%# override to remove hamburger toggle button %>

<% if has_facet_values? %>
<div id="facets">
  <div class="text-center">
    <%# remove facets-toggle button %>
    <h2>
      Browse Items
    </h2>
  </div>
  <div id="facet-panel-collapse">
    <%= render_facet_partials %>
  </div>
</div>
<% end %>
