<% if display_content_block? @home_text %>
  <div class="home_page_text homepage-text-container">
    <%= displayable_content_block @home_text, class: 'home_page_text text-center' %>
  </div>
<% end %>
