<%# OVERRIDE Hyrax v5.2.0 template for theming -- removed item keywords and depositor from partial %>

<% presenter = featured_fields.presenter %>
<%# container for the featured work card with thumbnail image and title %>
<div class="featured-work" data-id="<%= presenter.id %>">
  <div class="featured-item-thumbnail">
    <%# @param featured [Presenter] work or collection presenter
      @param link [Symbol] main_app or hyrax
      @param styles [String] CSS classes for the image
      @param alt [String] alternative text for the image %>
    <%= render 'thumbnail', featured: presenter, link: main_app, styles: "h-100 d-block", alt: "" %>
  </div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <%# @param featured [Presenter] work or collection presenter
    @param link [Symbol] main_app or hyrax %>
    <%= render 'featured_title', featured: presenter, link: main_app %>
  </div>
</div>
