<%# OVERRIDE Hyrax v5.2.0 template for client theming %>

<% presenter = featured.presenter %>
<div class="col-lg-3 col-md-6 col-12" data-id="<%= presenter.id %>">
  <%= render 'featured_fields', featured: presenter %>
</div>
