name: "Build Test Lint"
run-name: Build Test Lint of ${{ github.ref_name }} by @${{ github.actor }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_step:
        required: false
        description: 'Pause the selected step to debug using tmate'
        type: choice
        default: ''
        options:
          - ''
          - build
          - test
          - lint

jobs:
  build:
    uses: notch8/actions/.github/workflows/build.yaml@add-platform
    secrets: inherit
    with:
      webTarget: hyku-web
      workerTarget: hyku-worker

  test:
    needs: build
    uses: notch8/actions/.github/workflows/test.yaml@add-platform
    with:
      confdir: '/app/samvera/hyrax-webapp/solr/conf'
      rspec_cmd: "cd .. && gem install semaphore_test_boosters && bundle && rspec_booster --job $CI_NODE_INDEX/$CI_NODE_TOTAL"

  lint:
    needs: build
    uses: notch8/actions/.github/workflows/lint.yaml@add-platform
    with:
      webTarget: hyku-web
      workerTarget: hyku-worker
      rubocop_cmd: "cd .. && bundle && bundle exec rubocop --parallel --format progress --format junit --out rubocop.xml"
